body {
    font-family:  Zapfino, 
    font-size: 14 pts, 
    font-color: black, 
}

h1 {
    font-family: Times New Roman
    font-size: 16 pts, 
    font-color: blue, 
}

p {
    font-family: Fantasy,
    font-size: 14 pts, 
    font-weight: bold, 
}